<h3>Add Participant</h3>
<form
  action="<%= '/events/' + eve.eventID + '/addParticipant'  %>"
  method="POST"
>
  <div>
    <input
      hidden
      type="text"
      class="form-control"
      name="eventID"
      value="<%= eve.eventID %>"
    />
  </div>

  <div>
    <label class="form-label">
      Participant ID:
      <input type="text" class="form-control" name="participantID" />
    </label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Add Participant</button>
</form>
