
<h2>Create an Event</h2>
<form action="/createEvent" method="POST">
  <div>
    <label class="form-label">
      Event Type:
      <input class="form-control" type="text" name="typeID" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Event Name:
      <input class="form-control" type="text" name="eventName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Date:
      <input class="form-control" type="date" name="date" />
    </label>
  </div>

  <div>
    <label class="form-label">
      During Time:
      <input class="form-control" type="text" name="duringTime" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Location:
      <input class="form-control" type="text" name="location" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Description:
      <input class="form-control" type="text" name="description" />
    </label>
  </div>

  <div>
    <label class="form-label">
      OrganizerID:
      <input class="form-control" type="text" name="organizerID" />
    </label>
  </div>

  

  <button class="btn btn-primary" type="submit">Create</button>
</form>
