
<h2>Create an address</h2>
<form action="/createAddress" method="POST">
  <div>
    <label class="form-label">
      street Number:
      <input class="form-control" type="text" name="street1" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Street Name:
      <input class="form-control" type="text" name="street2" />
    </label>
  </div>
  <div>
    <label class="form-label">
      City:
      <input class="form-control" type="text" name="city" />
    </label>
  </div>
  <div>
    <label class="form-label">
      State:
      <input class="form-control" type="text" name="state" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Zip Code:
      <input class="form-control" type="text" name="zipCode" />
    </label>
  </div>
  

  <button class="btn btn-primary" type="submit">Create</button>
</form>
