<h2>EventType</h2>

<form
  action=" <%= '/eventTypes/' + eve.typeID + '/edit' %>"
  method="POST"
>

  <div>
    <label class="form-label">
      Type ID:
      <input
        class="form-control"
        type="text"
        name="typeID"
        value="<%= eve.typeID %>"
        disabled
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Type Description:
      <input
        class="form-control"
        type="text"
        name="typeDescription"
        value="<%= eve.typeDescription %>"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Edit</button>

</form>
